@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-base: hsl(0 0% 100%);
  --color-surface: hsl(0 0% 96%);

  /* Text */
  --font-heading: var(--font-poppins);
  --color-primary: hsl(0 0% 8%);
  --color-secondary: hsl(0 0% 40%);

  /* UI */
  --color-border: hsl(0 0% 88%);

  /* Brand */
  --color-brand: hsl(190 100% 37%);

  /* Feedback */
  --color-success: hsl(142 71% 45%);
  --color-warning: hsl(38 92% 50%);
  --color-danger: hsl(0 84% 60%);
  --color-info: hsl(217 91% 60%);
}
